* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

header {
  border-bottom: 1px solid white;
}

.header-container {
  width: 80%;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-container .header-left {
  width: 50%;
}

.header-container .header-left h3 {
  font-size: 25px;
  text-transform: uppercase;
}

.header-container .header-right {
  width: 50%;
}

.header-container .header-right ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
}

.header-container .header-right ul li {
  margin: 0px 20px;
}

.header-container .header-right ul li a {
  text-decoration: none;
  color: white;
}

.main-content {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.main-content h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.main-content .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 30px;
}

.main-content .card-container .card {
  border: 1px solid white;
  padding: 25px;
}

.main-content .card-container .card h4,
.main-content .card-container .card h5 {
  margin: 10px 0px;
}

