.header-container {
    width: 80%;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    // justify-content: space-between;

    .header-left {
        width: 50%;
        h3 {
            font-size: 25px;
            
            text-transform: uppercase;
        }
    }

    .header-right {
        width: 50%;
        ul {
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: end;
            li {
                margin: 0px 20px;
                a {
                text-decoration: none;
                color: white;
                }
            }
        }
    }
}