.main-content {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    h3 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        grid-gap: 30px;


        .card {
            border: 1px solid white;
            padding: 25px;
            
            h4,h5 {
                margin: 10px 0px;
            }
        }
    }
}